#map-container {
  border: 2px solid #ccc; /* Add border to the container */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  margin: 10%; /* Optional: Add margin for spacing */
  margin-top: 4%; /* Optional: Add margin for spacing */
  margin-bottom: 10%;

}

#map-title {
  text-align: center; /* Center the title */
  font-size: 18px;
  font-weight: bold;
}
